.header {
  background: #000000;
}

.header__body {
  display: flex;
  background: #000000;
  width: 1080px;
  margin: auto;
  justify-content: space-around;
  align-items:center;
}

.logo__menu {
  display: flex;
  
}

.header__body ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
  list-style: none;
  flex-direction: row;
}


.header__body img {
  width: 61px;
  height: 53px;
  margin: 0 109px 0 0;
  object-fit: contain;
}

.header ul {
  color: #ffffff  ;
}

.header button {
  width: 138px;
  height: 40px;
  padding: 7px 16px 9px;
  border-radius: 8px;
  border: solid 1px var(--onsurface-800-2);
  background-color: #ffffff;
  align-self: flex-end;
}

.header__itm  button {
  width: 115px;
  height: 40px;
  padding: 7px 16px 9px;
  border-radius: 8px;
  background-color: #3df196;
}

.rectangle {
  width: 1440px;
  height: 395px;
  margin: 80px 0 24px;
  padding: 136px 184px 22px 185px;
  opacity: 0.71;
  background-image: linear-gradient(to bottom, #efeff0, rgba(246, 246, 247, 0) 99%);
}

.rectangle {
  width: 799px;
  height: 64px;
  margin: 0 136px 100px;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: var(--on-text-2);
}

.container {
  width: 192px;
  height: 40px;
  margin: 0 855px 0 0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--on-text-2);
}
